.venv
.Python
*.pyc
*.orig
.cache/
*,cover
.coverage
.tox/
.idea/
*.sqlite

*.egg-info
build/
dist/
venv/
*.egg/
src/cities_light/version.py

# Ignore the downloaded data.
src/cities_light/data/

# vscode & codespaces
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
pythonenv3.8/

# Local History for Visual Studio Code
.history/
