.idea/
.Python
*.pyc
*.egg-info
build
dist

# Ignore the downloaded data.
cities_light/data/admin1CodesASCII.*
cities_light/data/alternateNames.*
cities_light/data/cities*
cities_light/data/countryInfo*
cities_light/data/install_datetime
