sudo: false
language: python
python:
  - "2.7"
  - "3.3"
env:
  - REQ="django<1.7" DB=postgresql
  - REQ="django<1.7" DB=mysql
  - REQ="django<1.7" DB=sqlite
  - REQ="django<1.8" DB=postgresql
  - REQ="django<1.8" DB=mysql
  - REQ="django<1.8" DB=sqlite
install:
  - pip install -q $REQ --use-mirrors
  - pip install pep8 --use-mirrors
  - pip install https://github.com/dcramer/pyflakes/tarball/master
  - python setup.py install
before_script:
  - "pep8 --ignore=E124,E128 --exclude=tests,south_migrations,migrations,vendor cities_light"
  - mysql -e 'create database cities_light_test;'
  - psql -c 'create database cities_light_test;' -U postgres
script:
  - python setup.py test
  - bash test.sh
