-r ../test_project/requirements.txt

# sphinx
Sphinx==1.3.6
Babel==2.2.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.1.9
Pygments==2.1.3
Jinja2==2.8
MarkupSafe==0.23
alabaster==0.7.7
docutils==0.12
pytz==2016.1

# pycco
pycco==0.4.1
markdown==2.6.5
pystache==0.5.4
smartypants==1.8.6
